{% extends 'search/base.html' %}

{% block content %}
{% if user.is_authenticated %}


<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <h2>Search here!</h2>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <form action="{% url 'searchresults' %}">
            <div class="form-group">
                <label for="query">Query</label>
                <input class="form-control" id="query" name="query" type="text">
            </div>

            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <hr>
    </div>
</div>
{% endif %}
{% endblock %}
